div.sideMenuDropdown > button {
  width: 100%;
  display: none;
}

div.dropdown-menu.show {
  width: 100%;
}

a.sideMenuItems {
  width: 100%;
}

.sideMenu {
  margin-top: .5em;
  background-color: #f8f9fa;
  padding: 1em .25em 1em 1em;
  min-height: 100vh;
}

.sideMenuCol {
  background-color: #f8f9fa;
}

@media screen and (max-width: 767px) {

  div.sideMenuDropdown > button {
    width: 100%;
    display: block;
  }

  .sideMenu {
    display:none
  }

}