/* h1 {
    margin: 2rem 0;
    text-align: center;
} */

.mapdiv{
    flex: 1;
    margin: 0 10rem;
    background-color: transparent;
}

.mapdiv path {
    fill: rgb(54, 65, 54);
    stroke: transparent;
    stroke-width:2px;
    transition: fill 0.3s;
}

.mapdiv :hover {
    fill:rgb(199, 199, 194);
}

.stateMapRegion {
    cursor: pointer;
}

.pageContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chartContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}