.top {
  height: 60vh;
}

.event-detail-wrapper {
  margin-top: 20px;
}
.detailBackground {
  background: rgb(227, 246, 233);
  background: radial-gradient(
    circle,
    rgba(227, 246, 233, 1) 0%,
    rgba(153, 167, 157, 1) 46%,
    rgba(126, 136, 128, 1) 67%,
    rgba(80, 87, 80, 1) 87%,
    rgba(41, 43, 41, 1) 96%,
    rgba(0, 0, 0, 1) 100%
  );
  min-height: 100vh;
}

.cardImage {
  height: 65vh;
  object-fit: cover;
}

.descriptionCard {
  position: absolute;
  background-color: rgb(252, 252, 252, 0.7);
  top: 30%;
  right: 0;
  padding: 2rem;
  width: 100%;
}

.coordinator {
  justify-content: center;
}
.date {
  justify-content: center;
  text-align: center;
  padding: 1.5rem;
}

.eventTitle {
    text-align: center;
    padding: 2rem;
}

.return {
    color: #000;
}