.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 1.25fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.backgroundImage {
  grid-area: 1 / 1 / 6 / 6;
  background-color: lightslategray;
}
.div2 {
  grid-area: 2 / 2 / 5 / 4;
}
.div3 {
  grid-area: 2 / 4 / 5 / 5;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr) 4fr 1fr 0.25fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 4 / 4 / 6;
  background: url("../../images/Plant.jpeg");
}
.div2 {
  grid-area: 2 / 3 / 3 / 5;
  background-color: blanchedalmond;
  align-self: center;
  align-content: center;
}
.div3 {
  grid-area: 5 / 2 / 6 / 5;
  background-color: black;
}
.div4 {
  grid-area: 2 / 1 / 4 / 4;
}

.div2 h2 {
  align-content: center;
  text-align: center;
}
