.dashboardContentView {
  overflow-y: auto;
  background-image: url("./treeview.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 95vh;
  max-height: 95vh;
}

.dashboardCard {
  /* margin-top: 1.5em; */
  margin-bottom: .75em;
  background-color: rgba(255, 255, 255, 0.94);
}

.formContainer {
  background-color: rgba(255, 255, 255, 0.94);
  padding: 1em;
  margin-top: 15px;
}

.createNew {
  margin-top: 15px;
  background-color: rgba(255, 255, 255, 0.94);
}

.jumbotron {
  padding: 1rem !important;
  margin-bottom: 0em;
  border-radius: 0;
}

.btn {
  background-color: #356d65;
  border-color: #356d65;
}

.btn:focus {
  background-color: #356d65;
}

.btn:hover {
  background-color: #264e48;
}

.btn:active {
  background-color: #356d65;
}

.fas {
  margin-right: 1em;
}

.m-1 {
  margin: 1rem;
}