.header {
  background-color: transparent;
  color: white;
  justify-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.header h1 {
  padding: 0 45px;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: white;
}

a:hover {
    text-decoration: none;
}

.header .btn {
  background-color: transparent;
  border: transparent;
  align-self: center;
  font-family: "Montserrat", sans-serif;
}

.log {
  float: right;
  background: transparent;
  border: none;
  color: gray;
  position: absolute;
  top: 35px;
  right: 20px;
  font-family: "Montserrat", sans-serif;
}


@media (max-width: 420px) {

  .getBtn {
    order: 2;
  }
  
  .infoBtn {
    order: 3;
  }
  
}