.header {
  background-color: transparent;
  color: white;
  justify-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4rem 6rem;
}
.header h1 {
  padding: 0 45px;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: white;
}

.infoBtn a {
  text-decoration: none;
  color: white;
}

a:hover {
    text-decoration: none;
}

.header .btn {
  background-color: transparent;
  border: transparent;
  align-self: center;
  font-family: "Montserrat", sans-serif;
}

.loginButton {
  float: right;
  background: transparent;
  border: none;
  color: gray;
  position: absolute;
  top: 20px;
  right: 20px;
  font-family: "Montserrat", sans-serif;
}

.log {
  display: contents;
}

@media (max-width: 880px) {


  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .getBtn {
    order: 2;
  }
  
  .infoBtn {
    order: 3;
  }
  
}

@media (max-width: 500px) {
  .header {
    padding: 2rem 6rem;
  }
  .header h1 {
    font-size: 28px;
  }

  .loginButton {
    top: 10px;
    right: 10px;
  }
}